@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fredoka', sans-serif;
  overflow: hidden; /* Prevent scrolling on mobile */
  touch-action: none; /* Disable browser zooming/panning */
  background-color: #0f172a; /* Slate 900 fallback */
}